/* ==================== FONTS ==================== */
@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ==================== VARIABLES ==================== */
:root {
  --header-gradient: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
  --header-text-color: #555;

  --title-color: #1c1c1c;

  --card-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --card-title-color: #ffffff;
  --card-border-radius: 16px;
}

/* ==================== GLOBAL ==================== */
body {
  min-width: 1440px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  /* Horizontal safety paddings to prevent content from sticking to the edges of the screen during responsive design */
  max-width: calc(1312px + 30px);
  margin: 0 auto;
  padding-inline: 15px;
}

.h2 {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================== HEADER ==================== */

/* Added some properties so that the layout doesn't break when adding menu items */
.header {
  background: var(--header-gradient);
  font-weight: 600;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-block: 16px;
  }
}

.header__logo {
  flex-shrink: 0;
  width: 137px;
  height: 22px;
}

.header__menu-list {
  display: flex;
  column-gap: 24px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.header__menu-link {
  padding-block: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--header-text-color);
  text-decoration: none;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header__contacts-phone {
  align-self: end;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.5px;
  font-variant-numeric: lining-nums tabular-nums;
  color: var(--header-text-color);
  text-decoration: none;
}

.header__contacts-schedule {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333;
  color: var(--header-text-color);
}

/* ==================== MENU ==================== */
.menu {
  padding-block: 32px;
}

.menu__list {
  /* To prevent the layout from breaking when the number of cards increases */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.menu__item {
  width: 304px;
  height: 304px;
  border-radius: var(--card-border-radius);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* I think the icons are decorative because they represent a category and not a specific dish */
  &:nth-child(1) {
    background-image: var(--card-gradient), url("./images/menu/pizza.jpg");
  }

  &:nth-child(2) {
    background-image: var(--card-gradient), url("./images/menu/soups.jpg");
  }

  &:nth-child(3) {
    background-image: var(--card-gradient), url("./images/menu/hot-dishes.jpg");
  }

  &:nth-child(4) {
    background-image: var(--card-gradient), url("./images/menu/salads.jpg");
  }
}

.menu__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  text-decoration: none;
}

.menu__item-title {
  margin-top: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333;
  color: var(--card-title-color);
}
