.modal {
  position: fixed;
  inset: 50% auto auto 50%;
  justify-content: center;
  gap: var(--size-2xl);
  min-width: 1088px;
  max-height: calc(100dvh - 64px);
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: var(--size-2xl);
  opacity: 0;
  translate: calc(-50% + var(--size-4xl)) -50%;
  transform: scale(0.95);
  overflow: hidden;

  &[open] {
    display: flex;
  }

  &.open,
  &.open::backdrop {
    opacity: 1;
    transform: scale(1);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0;
  }
}

.modal,
.modal::backdrop {
  transition-property: opacity, transform;
  transition-duration: var(--transition-duration);
}

.modal__content {
  padding: var(--size-4xl) 0 var(--size-4xl) var(--size-4xl);
  background-color: var(--color-neutral-900);
}

.modal__content,
.modal__button {
  border-radius: var(--size-2xl);
}

.modal__button {
  width: 48px;
  height: 48px;
  padding: var(--size-xl);
  background-color: var(--color-neutral-900);
  box-shadow: 0 var(--size-sm) 10px 0 rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus-visible {
    .modal__icon {
      color: var(--color-yellow-500);
    }
  }
}

.modal__icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-3xl);
  height: var(--size-3xl);
}

.modal__icon {
  width: 11px;
  height: 11px;
  color: var(--color-neutral-500);
  transition: color var(--transition-duration);
}
