.food-cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.food-card__link {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 396px;
}

.food-card__badges-list {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 8px;
}

.food-card__badge-item {
  width: 36px;
  height: 36px;

  img {
    border-radius: 8px;
  }
}

.food-card__image {
  width: 304px;
  height: 304px;

  img {
    border-radius: var(--border-radius-m);
  }
}

.food-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.3333;
  font-weight: 600;
  color: var(--black-color);
}

.food-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #727272;
  overflow: hidden;
}

.food-card__button {
  width: 100%;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 1.3333;
  font-weight: 600;
  color: var(--black-color);
  background-color: #f4f4f4;
  border-radius: var(--border-radius-m);
}
