.header {
  font-weight: 600;
  color: var(--header-text-color);
  background: var(--header-gradient);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-block: 16px;
  }
}

.header__logo {
  flex-shrink: 0;
  width: 137px;
  height: 22px;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
}

.header__menu-link {
  padding-block: 8px;
}

.header__actions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 64px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  line-height: 1.3333;
}

.header__contacts-phone {
  align-self: end;
  font-size: 18px;
  letter-spacing: -0.4px;
  font-variant-numeric: lining-nums tabular-nums;
}

.header__contacts-schedule {
  font-size: 12px;
  font-weight: 400;
}

.header__buttons-list {
  display: flex;
  gap: 16px;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 48px;
  border: var(--border-width) solid var(--black-color);
  border-radius: var(--border-radius-m);
}

.header__button--is-account {
  background-color: transparent;
}

.header__button--is-cart {
  background-color: var(--black-color);

  svg {
    color: white;
  }
}

.header__button-icon {
  width: 24px;
  height: 24px;
}
