.link-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.link-cards-list--has-button-below {
  margin-bottom: 32px;
}

.link-card__link {
  justify-content: space-between;
  height: 360px;
  padding: 32px;
  color: #ffffff;
}

.link-card__link,
.link-card__badges {
  gap: 65px;
}

.link-card__badges {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.4333;
  font-weight: 600;
}

.link-card__badges-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.link-card__badge-item,
.link-card__status {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--border-radius-s);
}

.link-card__status {
  align-self: flex-start;
  color: var(--black-color);
  background-color: #fedd2c;
}

.link-card__status--is-negative {
  color: inherit;
  background-color: #727272;
}

.link-card__title {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
}
