.promo {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-block: 12px;
  background-color: var(--black-color);
}

.promo__text {
  font-size: 18px;
  line-height: 1.3333;
  color: #fff;
}

.promo__button {
  width: 24px;
  height: 24px;
  padding: 2px;
  background-color: transparent;
}
