:root {
  --size-xs: 2px;
  --size-sm: 4px;
  --size-lg: 8px;
  --size-xl: 12px;
  --size-2xl: 16px;
  --size-3xl: 24px;
  --size-4xl: 32px;

  --section-padding-y: var(--size-4xl);

  --header-text-color: #555555;
  --footer-text-color: #a6a6a6;
  --dark-color: #1c1c1c;
  --gray-color: #727272;
  --light-color: #ffffff;

  --card-badge-background: rgba(0, 0, 0, 0.6);
  --card-status-positive: #fedd2c;
  --card-status-negative: var(--gray-color);

  --header-gradient: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
  --card-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );

  --border-width: var(--size-xs);
  --border-radius-sm: var(--size-sm);
  --border-radius-lg: var(--size-lg);
  --border-radius-2xl: var(--size-2xl);

  --transition-duration: 0.2s;
}
